.ltl-footer-text {
    font-size: 13px;
    color: #aaa;
    text-align: justify;
    padding-right: 5%;
}

.sign-up-button-hp, .forminput_button, .donation-button, .community-button, .sign-up-developers {
	background:#c1ac55;
}

.sign-up-button-hp:hover, .forminput_button:hover, .donation-button:hover, .community-button:hover, .sign-up-developers:hover {
	background:#ae9a46;
}

.ltl-footer-link {
	margin-left:5px;
}

.footer-credits a {
	color:#c5c292;
}

.footer-credits a:hover {
	color:#b0ad7b
}

#wpPreview, #wpDiff, #wpSave, .site-button, .multipleTemplateAdder {
	background-color: #782b47;
}

#wpPreview:hover, #wpDiff:hover, #wpSave:hover, .site-button:hover, .multipleTemplateAdder:hover {
	background-color: #591930;
}

.glyphicon-user:before {
	color: #782b47;
}

.saving-menu .editHelp:hover {
	background-color:#c1ac55;
}

.wf-top-button .btn {
    background-color: #0c5154;
    border: 1px solid #0c5154;
    color: #fff;
    background-image: none;
}

.marketing-section-hp, .wd-section-hp {
	background-image: url('/skins/lowtechlab-skin/images/bg-ltl.jpg');
	background-size: cover;
}

.ltl-footer-link a {
	color: #ccc;
}

.ltl-footer-link a:hover {
	color: #fff;
}

.wf-top-button .btn:hover {
    background-color: #042d2f;
    border: 1px solid #042d2f;
    color: #fff;
    background-image: none;
}

.contribute-block:hover {
	background-color: #0c5154;
	border-color: #0c5154;
}

@media screen and (max-width: 640px) {
	.ltl-footer-text {
	    padding-right: 0;
	}
}